.lb-demo-top {
	gap: 20px 45px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-img {
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.item-text-list {
		max-width: 830px;
		padding-left: 20px;
		@media #{$md,$sm,$xs,$xxs} {
			padding-left: 0;
		}
		h3 {
			color: #02021E;
			font-size: 60px;
			font-weight: 600;
			line-height: 1.05;
			letter-spacing: -2px;
			@media #{$xl} {
				font-size: 50px;
			}
			@media #{$lg} {
				font-size: 40px;
			}
			@media #{$md} {
				font-size: 35px;
			}
			@media #{$sm} {
				font-size: 30px;
			}
			@media #{$xs} {
				font-size: 28px;
			}
			@media #{$xxs} {
				font-size: 26px;
			}
			span {
				text-decoration: underline;
			}
		}
		ul {
			margin-top: 30px;
			li {
				font-size: 15px;
				margin-right: 10px;
				padding: 10px 12px;
				border-radius: 100px;
				background-color: #fff;
				border: 1px solid #4C4B621A;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
} 
.lb-item-counter {
	display: inline-block;
	h3 {
		line-height: .8;
		font-size: 320px;
		font-weight: 800;
		position: relative;
		padding-right: 50px;
		letter-spacing: -24px;
		@media #{$xxl} {
			font-size: 280px;
			letter-spacing: -16px;
		}
		@media #{$xl} {
			font-size: 220px;
			letter-spacing: -16px;
		}
		@media #{$lg} {
			font-size: 180px;
			letter-spacing: -5px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
			letter-spacing: 0px;
		}
		@media #{$md} {
			font-size: 160px;
		}
		@media #{$sm} {
			font-size: 140px;
		}
		@media #{$xs} {
			font-size: 120px;
		}
		@media #{$xxs} {
			font-size: 100px;
		}
		@media #{$xxxs} {
			font-size: 80px;
		}
		span{
			background:  linear-gradient(75.96deg, #CE9400 13.64%, #FF008A 46.53%, #6100FF 78.88%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		sub {
			top: 5px;
			right: -30px;
			bottom: auto;
			color: #02021E;
			line-height: 1;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0;
			padding: 12px 24px;
			position: absolute;
			border-radius: 32px;
			background-color: #FDC448;
			@media #{$xl} {
				right: -45px;
			}
			@media #{$lg,$md,$sm,$xs,$xxs} {
				font-size: 18px;
				position: static;
			}
		}
	}
}
.lb-demo-item {
	padding: 20px;
	margin: 0 auto;
	max-width: 552px;
	margin-bottom: 32px;
	border-radius: 28px;
	background-color: #fff;
	.item-img {
		overflow: hidden;
		border-radius: 28px;
	}
	.item-btn {
		left: 0;
		top: 48%;
		right: 0;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		a {
			margin-bottom: 18px;
			span {
				gap: 12px;
				color: #02021E;
				font-weight: 500;
				border-radius: 50px;
				padding: 6px 6px 6px 24px;
				background-color: #FDC448;
				i {
					color: #fff;
					width: 38px;
					height: 38px;
					display: flex;
					align-items: center;
					border-radius: 100%;
					justify-content: center;
					background-color: #02021E;
				}
			}
		}
	}
	.item-text {
		color: #02021E;
		margin-top: 20px;
		font-size: 20px;
		font-weight: 500;
		padding: 14px 16px;
		border-radius: 16px;
		background-color: #EAEAEA;
	}
}